body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-img {
    width: 100%;
}

/* HEADER */

header {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: .5rem;
}

ul {
    display: flex;
    list-style: none;
    text-decoration: underline;
    color: white;
}

li {
    margin: 0 1rem;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: .6rem;
    text-transform: uppercase;
}

li:hover {
    cursor: pointer;
}

.nav-a {
    color: white;
}

/* HISTORY */

#nav-2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem 0;
}

#nav-2 ul {
    color: black;
}

.hx-a {
    color: #414f6a;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    border: 1px solid #697a98;
    border-radius: 50%;
}

.logo-text p {
    margin: 0 0 0 .5rem;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    line-height: .9rem;
}

#history-content {
    position: relative;
}

#history-container {
    position: absolute;
    top: 3rem;
    padding: 0 15%;
}

#history-title {
    width: 22%;
}

#history-text {
    font-family: 'Open Sans', sans-serif;
}

/* CAROUSEL */

#carousel {
    position: absolute;
    bottom: .25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    background-color: rgba(105, 125, 150, 0.5);
}

#carousel img {
    width: 15%;
    margin: .5%;
}

/* TEAM */

#team {
    position: relative;
    margin: 0;
    background-color: #414f6a;
}

#team-container {
    position: absolute;
    top: 0;
    width: 100%;
}

#team-header {
    display: flex;
    align-items: center;
    padding: 1rem 15%;
    background-color: white;
}

#team-title {
    width: 22%;
}

#team-text {
    padding-left: 2rem;
    font-family: 'Open Sans', sans-serif;
}

.team-menu {
    text-transform: uppercase;
    color: #697a98;
    background-color: #414f6a;
    padding: .25rem 15%;
}

.team-menu span {
    padding: .25rem 1rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: 600;
}

.team-menu span:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #414f6a;
    background-color: #697a98;
}

/* SCHEDULE TABLE */

.schedule {
    background: rgba(255, 255, 255, 0.75);
    padding: .75rem 2rem;
    width: 15rem;
    margin-left: 17%;
    margin-top: 5vh;
}

.schedule h2 {
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    letter-spacing: .1rem;
    color: #414f6a;
}

table {
    font-family: 'Open Sans', sans-serif;
    font-size: .75rem;
}

.schedule-date {
    padding-right: 2.25rem;
}

.empty-row {
    height: 1rem;
}

/* FOOTER */

footer {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .25rem 0 .5rem 0;
    background-color: #414f6a;
    color: #697a98;
}

.footer-logo {
    display: flex;
    align-items: center;
}

#copyright {
    text-transform: uppercase;
}

.logo-text {
    margin: 0;
}