body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-img {
    width: 100%;
}

/* HEADER */

header {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: .5rem;
}

ul {
    display: flex;
    list-style: none;
    text-decoration: underline;
    color: white;
}

li {
    margin: 0 1rem;
    font-style: italic;
    font-size: .75rem;
    text-transform: uppercase;
}

li:hover {
    cursor: pointer;
}

/* HISTORY */

#nav-2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem 0;
}

#nav-2 ul {
    color: black;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    border: 1px solid #697a98;
    border-radius: 50%;
}

.logo-text p {
    margin: 0 0 0 .5rem;
    text-transform: uppercase;
}

#history-content {
    position: relative;
}

#history-container {
    position: absolute;
    top: 3rem;
    padding: 0 15%;
}

#history-title {
    width: 22%;
}

/* CAROUSEL */

#carousel {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    background-color: rgba(105, 125, 150, 0.5);
}

#carousel img {
    width: 15%;
    margin: .5%;
}

/* TEAM */

#team {
    position: relative;
}

#team-container {
    position: absolute;
    top: 3rem;
}

#team-header {
    display: flex;
    align-items: center;
    padding: 0 15% 1rem;
}

#team-title {
    width: 22%;
}

#team-text {
    padding-left: 2rem;
}

.team-menu {
    text-transform: uppercase;
    color: #697a98;
    background-color: #414f6a;
    padding: .25rem 15%;
}

.team-menu span {
    padding: .25rem 1rem;
    font-weight: 600;
}

.team-menu span:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #414f6a;
    background-color: #697a98;
}