body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: .5rem;
}

ul {
    display: flex;
    list-style: none;
    text-decoration: underline;
    color: white;
}

li {
    margin: 0 1rem;
    font-style: italic;
    font-size: .75rem;
    text-transform: uppercase;
}

li:hover {
    cursor: pointer;
}

/* MAIN CONTENT */

main img {
    width: 100%;
}

/* HISTORY */

#nav-2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: .5rem;
}

#nav-2 ul {
    color: black;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    border: 1px solid #697a98;
    border-radius: 50%;
}

.logo-text p {
    margin: 0 0 0 .5rem;
    text-transform: uppercase;
}